# Dependências
node_modules/

# Arquivos de build
dist/
build/
.cache/
.parcel-cache/

# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-workspace

# Arquivos de TypeScript
*.tsbuildinfo

# Outros
.coverage
.nyc_output
coverage/ 